body {
    font-family:"Arial Black";
    z-index:0;
    transform-origin: top left;
    margin: 0 auto;
}

.hidden {
    opacity:0;
    z-index:-1;
}

#content {
    position:absolute;
    width:480px;
    height:360px;
    background-color:white;
    top:0;
    left:0;
    overflow:hidden;
}

#border {
    position:absolute;
    width:480px;
    height:360px;
    pointer-events:none;
    z-index:1;
    background-image:url(assets/images/hangman_border_1.png);
}

.screen {
    position:absolute;
    width:480px;
    height:360px;
    background-color:rgba(0, 0, 0, 0);
    backdrop-filter:blur(10px);
}

#load_screen {
    background-color:black;
    color:white;
    z-index:3;
    text-align:center;
}

/* Menu N' Buttons */

#menu {
    background-color:orange;
    z-index:2;
}

#start_button {
    position:absolute;
    background-color:black;
    height:50px;
    width:100px;
    top:180px;
    left:240px;
    color:white;
    text-align:center;
}

#start_button:hover {
    cursor:pointer;
}

/* Game assets */

#lettergrid {
    position:absolute;
    width:282px;
    height:126px;
    bottom:116px;
    right:10px;
    padding-right:15px;
    padding-left:8px;
    background-color:rgba(0, 140, 255, 1);
    border-top-left-radius:4px;
    transition: transform 0.5s ease-in-out;
}

#category {
    position:absolute;
    width:282px;
    height:20px;
    background-color:rgb(8, 109, 192);
    text-align:center;
    padding-right:15px;
    padding-left:8px;
    left:0px;
    border-top-left-radius:4px;border-top-right-radius:4px;
}

#catName {
    position:absolute; 
    font-size:14px;
    width:282px;
    top:50%;
    transform:translateY(-50%);
    margin:0 auto;
    color:white;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
}

#letters {
    position:absolute;
    width:282px;
    height:90px;
    top:25.75px;
    left:6px;
    background-color:rgb(6, 114, 202);
    border-radius:4px;
    padding:2px;
    border-bottom-left-radius:4px;border-bottom-right-radius:4px;
    table-layout:fixed;
}

.letterSpace {
    width:18px;
    height:18px;
    font-size:12px;
    outline: 0.5px solid rgb(6, 114, 202);
    background-image:linear-gradient(180deg,rgba(0, 140, 255, 1) 25%, rgba(6, 114, 202, 1) 100%);;
    border-radius:4px;
    color:rgb(0, 140, 255, 0);
    text-align:center;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
}

.activeLetterSpace {
    width:18px;
    height:18px;
    outline:0.5px solid rgb(185, 185, 185, 0);
    background-image: linear-gradient(180deg,rgba(255, 255, 255, 1) 25%, rgba(212, 212, 212, 1) 100%);
    font-size:12px;
    font-family:Arial;
    border-radius:4px;
    color: rgba(0, 0, 0, 0);
    text-align:center;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
}

.solvedLetterSpace {
    width:18px;
    height:18px;
    font-size:12px;
    outline:0.5px solid rgb(185, 185, 185, 0);
    background-image: linear-gradient(180deg,rgba(255, 255, 255, 1) 25%, rgba(212, 212, 212, 1) 100%);
    border-radius:4px;
    color:black;
    text-align:center;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
    transition: color 0.3s;
}

.litLetterSpace {
    width:18px;
    height:18px;
    font-size:12px;
    outline:0.5px solid rgb(185, 185, 185, 0);
    background-color:lime;
    border-radius:4px;
    color:rgba(0, 0, 0, 0);
    text-align:center;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
}

#keyboard {
    position:absolute;
    width:282px;
    height:46px;
    padding-right:15px;
    padding-bottom:15px;
    padding-left:8px;
    padding-top:8px;
    background-color:rgb(8, 109, 192);
    right:10px;
    bottom:47px;
    transition: transform 0.5s ease-in-out;
}

#keys {
    position:absolute;
    top:6px;
    left:6px;
    padding:2px;
    border-radius:4px;
    background-color:rgba(0, 140, 255, 1);
    table-layout:fixed;
}

.key {
    width:18px;
    height:18px;
    font-size:12px;
    outline:0.5px solid rgba(6, 114, 202, 1);
    background-color:rgba(6, 114, 202, 1);
    border-radius:4px;
    color:white;
    text-align:center;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    transition: outline 0.1s, color 0.1s, background-color 0.1s;
}

.key:hover {
    cursor:pointer;
    outline:0.5px solid yellow;
    background-color:rgb(202, 117, 6);
    color:yellow;
}

.disabledKey {
    opacity:0.5;
    width:18px;
    height:18px;
    border-radius:4px;
    background-color:black;
    color:white;
    text-align:center;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
}

#ui {
    position:absolute;
    height:118px;
    width:315px;
    background-color:rgb(255, 153, 0);
    right:0px;
    padding-bottom:4px;
}

#wrongCounter {
    position:absolute;
    height:50px;
    width:150px;
    right:20px;
    top:40.5px;
}

.wrong_square {
    height:30px;
    width:30px;
    background-color:black;
    border-radius:4px;
}

.active_wrong_square {
    height:30px;
    width:30px;
    background-color:red;
    border-radius:4px;
}

.lit_wrong_square {
    height:30px;
    width:30px;
    background-color:lime;
    border-radius:4px;
}

/* Win and lose screens */

.window {
    position:absolute;
    width:240px;
    height:180px;
    top:69px;
    left:50%;
    transform:translateX(-50%);
    border-radius:4px;
}

#lose_window {
    background-color:red;
}

#win_window {
    background-color:limegreen;
}

.window_button {
    position:absolute;
    width:60px;
    height:30px;
    background-color:black;
    color:white;
}

.window_button:hover {
    cursor:pointer;
}

#menu_button {
    right:0px;
}

/* Animations */

#lettergrid.moved {
    transform:translateX(315px);
}

#keyboard.moved {
    transform:translateY(116px);
}